@import "https://cdn.jsdelivr.net/npm/maplibre-gl@5.6.1/dist/maplibre-gl.css";

:root {
	--font-main: "Rubik var", Rubik, Inter, system-ui, sans-serif;
	--anchor: #259f25;
}
html {
	scroll-behavior: smooth;
}
builds-info {
	display: block;
}

/* TODO: labcoat candidate */
body > header nav a {
	font-size: 1.1rem;
	font-weight: 400;
}
.brand {
	text-decoration: none;
}
.brand:hover {
	text-decoration: underline;
}
.brand picture,
.brand img {
	height: 1.125em;
	height: 1.5cap;
	width: 1.125em;
	width: 1.5cap;
	display: inline;
}
/* end labcoat candidates */

example-map {
	display: block;
}
example-map > frame-layout > div {
	width: 100%;
	height: 100%;
}

.mapAttribution {
	text-align: center;
}
.mapAttribution a {
	color: currentColor;
	opacity: 0.8;
	font-style: italic;
}
